html {
	font-family: "Comic Sans Ms", Arial, Serif ;
	font-weight: lighter;
}

header, footer {text-align: center;}

.menu {text-align: left; margin-left: 10px;}

.leftPadding {padding-left: 20px;}

#message {
	color: white;
	text-align: center;
	padding: 10px 20px;
	font-size: large;
	margin-top: -30px;
	margin-left: 200px;
	margin-right: 200px;
	border-style: dotted;

}

#restName {
	font-family: 'Monoton', cursive;
	font-size: xx-large;
}



